.navbar, .sidebar{
  font-family: Tahoma, Verdana, sans-serif; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-contents div img{
  height: 28vh;
  width: 50vh;
}

.home{
  width: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10vh;
}

.details-image{
  width: 90%;
  height: 70vh;
}

.edit-delete{
  display: flex;
  justify-content: flex-end;
}

.main{
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #7d8a8c;
  width: 100%;
}

.navbar div{
  display: flex;
  align-items: center;
}

.SideBar{
  display: flex;
  justify-content: center;
  background-color: #7d8a8c;
  text-align: center;
}

.sidebar :hover{
  background-color: #356e67;
}

.content{
  padding: 3vh;
  background-color: #d5edea;
}

.articleCard{
  border: 1px solid #b59207;
  border-radius: 8px;
  padding: 1vh;
  text-align: center;
  color: white;
  background-color: #356e67;
}



.form-div-div{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vh;
}

.form-div{
  background-color: white;
  width: 90vh;
  height: 70vh;
  padding: 5vh;
  border-radius: 1vh;
  display: flex;
  justify-content: flex-start;
}


.form input{
  padding: 1vh;
  margin: 2vh;
  width: 40vh;
  border-radius: 1vh;
  border: 1px solid black;
}

.form label{
  margin-left: 2vh;
}

.form textarea{
  padding: 3vh;
  width: 80vh;
  height: 20vh;
  margin: 2vh;
  border-radius: 1vh;
}

.form button{
  padding: 1vh;
  margin: 2vh;
  width: 10vh;
  height: 15vh;
  background-color: #52a399;
  color: white;
  border-radius: 1vh;
}

.form h2{
  text-align: center;
}

.btn-new-post{
  padding: 1vh;
  width: 15vh;
  height: 7vh;
  background-color: #356e67;
  border-radius: 1vh;
  color: white;
  font-family: Tahoma, Verdana, sans-serif;
}

.all-nav :hover{
  background-color: #356e67;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7d8a8c;
  color: white;
  border: 2px solid white;
  border-radius: 1vh;
  padding: 50px;
  z-index: 1000;
}

.modal button{
  padding: 1vh;
  width: 10vh;
  margin: 2px;
  height: 7vh;
  background-color: #1f5e57;
  color: white;
  border-radius: 1vh;
  font-family: Tahoma, Verdana, sans-serif;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 1000
}


.success-name{
  margin-top: 2vh;
  background-color: white;
  width: 100vh;
  text-align: center;
  border-radius: 1vh;
}
